:-moz-placeholder {
    color: blue;
}

::-webkit-input-placeholder {
    color: blue;
}

*:focus {outline: none;}

body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.formularzRejestracji h2, .formularzRejestracji label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}

.formularzRejestracji ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.formularzRejestracji li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.formularzRejestracji li:first-child, .formularzRejestracji li:last-child {
    border-bottom:1px solid #777;
}

.formularzRejestracji h2 {
    margin:0;
    display: inline;
}

.formularzRejestracji label {
    width:110px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.formularzRejestracji input {
    width:220px;
    padding:5px 8px;
}
.formularzRejestracji textarea {padding:8px; width:300px;}
.formularzRejestracji button {margin-left:156px;}


.formularzRejestracji input, .formularzRejestracji textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.formularzRejestracji input:focus, .formularzRejestracji textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.formularzRejestracji input:focus, .formularzRejestracji textarea:focus { 
    padding-right:70px;
}

.formularzRejestracji input, .formularzRejestracji textarea { 
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.formularzRejestracji input, .formularzRejestracji textarea {
    padding-right:30px;
}

.formularzRejestracji input:focus:invalid, .formularzRejestracji textarea:focus:invalid { 
    background: #fff url(../../img/wykrzyknik.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.formularzRejestracji input:required:valid, .formularzRejestracji textarea:required:valid { 
    background: #fff url(../../img/validyes.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; 
    position: absolute; 
    display: none;
}

.form_hint::before {
    content: "\25C0"; 
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

.formularzRejestracji input:focus + .form_hint {display: inline;}
.formularzRejestracji input:required:valid + .form_hint {background: #28921f;} 
.formularzRejestracji input:required:valid + .form_hint::before {color:#28921f;} 